.screen404 {
    background-color: #f5f6fb;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .heading {
    font-size: 15vw;
    font-weight: 800;
    color: #2F7C31;
    margin: 0;
  }

  .paragraph {
    font-size: 3vw;
    font-weight: 500;
    margin-bottom: 25px;
  }

  .homePageButton {
    width: auto;
    height: 40px;
    color: #2F7C31;
    border-color: #2F7C31;
    background-color: #67b169;
    font-weight: 700;
    font-size: 17px;
  }

  .homepageLink {
    text-decoration: none;
    color: #000;
  }
