.card-group > .card {
    padding: 10px 40px;
}

.card-title {
    font-weight: 700;
    padding-bottom: 15px;
}

.user-card {
    display: flex;
}

.user-card > img {
    border: 2px solid grey;
    margin-right: 25px;
    width: 200px;
    height: 200px;
    align-self: center;
}

.card-body {
    text-align: left;
}

.result-option{
    display: flex;
    justify-content: space-between;
}

.badge {
    font-size: 16px;
    margin-bottom: 7px;
}
